
/*
External CSS
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(47, 47, 61);
    /* To center the form box */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-box{
    display: flex;
    width: 600px;
    height: 900px;
    border: 4px;
    border-radius: 20px;
    background-color: rgb(224, 224, 224);
    color: white;
    padding-left: 80px;
    flex-direction: column;
    row-gap: 20px;
}

h1{
    font-size: 50px;
    text-align: center;
    margin-left: -80px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(44, 126, 180, 0.938);
}

.name,
.phone,
.emaill,
.address,
.skill,
.gender,
.hobbies,
.country{
    display: flex;
    flex-direction: column;
}

.gender{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.hobbies{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.skills{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

input[type=text],
input[type=email],
input[type=number]{
    width: 350px;
    border: 1px solid;
    border-radius: 4px;
    height: 25px;
}

.fies{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    height: 70px;
    padding: 10px;
}

.skl{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    height: 70px;
    padding: 10px;
}

.gies{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    height: 70px;
    padding: 10px;
}

select{
    width: 200px;
}

.submit{
    padding-left: 140px;
}

button{
    background-color: blue;
    color: white;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    cursor: pointer;
}

#error1,
#error2,
#error3,
#error4,
#error5,
#error6,
#error7{
    color: red;
    font-size: 14px;
}


@media(max-width:600px){
    .login-box{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
}